*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li, ol {
  list-style: none; }

img {
  display: block;
  width: 100%; }

button {
  font-family: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa; }

.container {
  max-width: 1140px;
  margin: auto; }

.header {
  position: relative;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0px 6px 11px 0px rgba(172, 172, 172, 0.3);
  box-shadow: 0px 6px 11px 0px rgba(172, 172, 172, 0.3);
  overflow: hidden; }
  .header:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 60vw;
    border-top: 20vh solid #a0d8c8;
    border-right: 100px solid transparent;
    overflow: hidden; }

.nav {
  display: flex;
  align-items: center;
  padding: 45px 25px; }
  .nav .logo {
    padding: 0 25px; }
  .nav__image {
    width: 100%; }
  @media screen and (max-width: 425px) {
    .nav__item {
      display: flex;
      flex-direction: column; } }
  .nav__title {
    display: inline;
    margin-right: 15px;
    color: #464148;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px; }
  .nav__starting-day {
    padding: 5px 10px;
    color: #6face3;
    font-size: 14px;
    line-height: 35px;
    border: solid 1px #6face3;
    border-radius: 2px; }
    @media screen and (max-width: 425px) {
      .nav__starting-day {
        display: inline-block; } }
  .nav__info {
    margin: 25px 0; }
  .nav__info-text {
    margin-right: 20px;
    color: #464148;
    font-size: 14px;
    font-weight: 400; }
  .nav__info-text_bold {
    margin-right: 3px;
    font-weight: 700; }
  .nav__datepicker {
    display: flex;
    justify-content: start;
    align-items: center; }
    @media screen and (max-width: 425px) {
      .nav__datepicker {
        flex-direction: column;
        align-items: start; } }
    .nav__datepicker i {
      margin-left: 5px;
      color: #464148;
      font-size: 14px; }
      .nav__datepicker i:hover {
        color: red; }
  .nav__datepicker-text {
    color: #464148;
    font-size: 14px;
    font-weight: 500; }
    @media screen and (max-width: 425px) {
      .nav__datepicker-text {
        padding-left: 5px;
        margin-bottom: 10px; } }
  .nav__datepicker-item {
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px gray; }
    @media screen and (max-width: 425px) {
      .nav__datepicker-item {
        margin-left: 0;
        margin-bottom: 10px; } }
  .nav__datepicker-input {
    padding: 0 5px;
    border: none;
    outline: none;
    line-height: 18px; }
  .nav__datepicker-cale {
    position: absolute;
    top: 0;
    right: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    color: #464148;
    font-size: 14px; }
    .nav__datepicker-cale:after {
      content: "";
      display: block;
      position: absolute;
      content: "\f073"; }

.main {
  padding: 10px 0 50px; }

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .catalog {
      padding: 0 10px; } }
  @media screen and (max-width: 425px) {
    .catalog {
      padding: 0 10px;
      justify-content: center; } }

.settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0; }
  @media screen and (max-width: 768px) {
    .settings {
      padding: 20px 10px; } }
  .settings__btn {
    margin-left: 25px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none; }
    .settings__btn i {
      font-size: 26px;
      color: #cbcac9; }
      .settings__btn i:hover, .settings__btn i:active {
        color: #a0d8c8; }
    .settings__btn:active {
      color: #a0d8c8; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  height: 360px;
  margin-bottom: 30px;
  background: #6FACE3;
  background: -moz-linear-gradient(-45deg, #6FACE3 0%, #000000 100%);
  background: -webkit-linear-gradient(-45deg, #6FACE3 0%, #000000 100%);
  background: linear-gradient(135deg, #6FACE3 0%, #000000 100%); }
  @media screen and (max-width: 320px) {
    .card {
      width: 300px;
      height: 300px; } }
  @media screen and (min-width: 1024px) {
    .card {
      width: 320px;
      height: 320px; } }
  @media screen and (min-width: 1440px) {
    .card {
      width: 360px;
      height: 360px; } }
  .card__image-link {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    transition: 0.2s; }
    .card__image-link:hover .card__image {
      animation: translating 10s linear 0s infinite; }
@keyframes translating {
  0% {
    transform: scale(3);
    opacity: 0.3; }
  25% {
    transform: scale(2.7); }
  50% {
    transform: scale(2.5);
    opacity: 0.7; }
  75% {
    transform: scale(2.7); }
  100% {
    transform: scale(3);
    opacity: 0.3; } }
  .card__image {
    transform: scale(3);
    opacity: 0.3; }
  .card__description {
    position: relative;
    z-index: 1;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px; }
  .card__status {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px; }
  .card__activity {
    width: 50%;
    display: flex;
    align-items: flex-end; }
  .card__text {
    padding-right: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 400; }
  .card__text_bold {
    font-weight: 700; }
  .card__like-btn, .card__commented {
    font-size: 18px;
    cursor: pointer; }
  .card__liked {
    display: block;
    min-width: 40px;
    margin-right: 10px; }

.ui-widget-header {
  background-color: #fff;
  border: none; }

/*# sourceMappingURL=style.css.map */
